In [2]:
# Import Dependencies
import pandas as pd
import os

In [27]:
# Make a reference to the books.csv file path

# Import the books.csv file as a DataFrame with utf-8 encoding.
books_data = os.path.join("Resources", "books.csv")

books_data_df = pd.read_csv(books_data)
books_data_df = pd.DataFrame(books_data_df)
books_data_df

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780000e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780000e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780000e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780000e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780000e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780000e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780000e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780000e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780000e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780000e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [28]:
#  Get the data types of each column.
print(books_data_df.dtypes)

id                             int64
book_id                        int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [29]:
# Get a list of all columns within the DataFrame
print(books_data_df.columns.tolist())

['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year', 'original_title', 'title', 'language_code', 'average_rating', 'ratings_count', 'work_ratings_count', 'work_text_reviews_count', 'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url', 'small_image_url']

In [ ]:
books_data_df.pop('id')

In [38]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
# Only keep: "isbn", "original_publication_year", "original_title", "authors",
# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"
books_data_df.pop('book_id')

0       2767052
1             3
2         41865
3          2657
4          4671
         ...
9995    7130616
9996     208324
9997      77431
9998    8565083
9999       8914
Name: book_id, Length: 10000, dtype: int64

In [44]:
books_data_df.pop('best_book_id')

KeyError: 'best_book_id'

In [46]:
books_data_df.pop('work_id')

0        2792775
1        4640799
2        3212258
3        3275794
4         245494
          ...
9995     7392860
9996     1084709
9997     2393986
9998    13433613
9999       11817
Name: work_id, Length: 10000, dtype: int64

In [47]:
books_data_df.pop('books_count')

0        272
1        491
2        226
3        487
4       1356
        ...
9995      19
9996      19
9997      60
9998       7
9999      31
Name: books_count, Length: 10000, dtype: int64

In [48]:
books_data_df.pop('isbn13')

0       9.780000e+12
1       9.780000e+12
2       9.780000e+12
3       9.780000e+12
4       9.780000e+12
            ...
9995    9.780000e+12
9996    9.780000e+12
9997    9.780000e+12
9998    9.780000e+12
9999    9.780000e+12
Name: isbn13, Length: 10000, dtype: float64

In [49]:
books_data_df.pop('title')

0                 The Hunger Games (The Hunger Games, #1)
1       Harry Potter and the Sorcerer's Stone (Harry P...
2                                 Twilight (Twilight, #1)
3                                   To Kill a Mockingbird
4                                        The Great Gatsby
                              ...
9995                            Bayou Moon (The Edge, #2)
9996    Means of Ascent (The Years of Lyndon Johnson, #2)
9997                                The Mauritius Command
9998    Cinderella Ate My Daughter: Dispatches from th...
9999                                  The First World War
Name: title, Length: 10000, dtype: object

In [50]:
books_data_df.pop('language_code')

0         eng
1         eng
2       en-US
3         eng
4         eng
        ...
9995      eng
9996      eng
9997      eng
9998      eng
9999      NaN
Name: language_code, Length: 10000, dtype: object

In [52]:
books_data_df.pop('average_rating')

0       4.34
1       4.44
2       3.57
3       4.25
4       3.89
        ...
9995    4.09
9996    4.25
9997    4.35
9998    3.65
9999    4.00
Name: average_rating, Length: 10000, dtype: float64

In [53]:
books_data_df.pop('ratings_count')

0       4780653
1       4602479
2       3866839
3       3198671
4       2683664
         ...
9995      17204
9996      12582
9997       9421
9998      11279
9999       9162
Name: ratings_count, Length: 10000, dtype: int64

In [54]:
books_data_df.pop('work_ratings_count')

0       4942365
1       4800065
2       3916824
3       3340896
4       2773745
         ...
9995      18856
9996      12952
9997      10733
9998      11994
9999       9700
Name: work_ratings_count, Length: 10000, dtype: int64

In [57]:
books_data_df.pop('work_text_reviews_count')

0       155254
1        75867
2        95009
3        72586
4        51992
         ...
9995      1180
9996       395
9997       374
9998      1988
9999       364
Name: work_text_reviews_count, Length: 10000, dtype: int64

In [58]:
books_data_df.pop('image_url')

0       https://images.gr-assets.com/books/1447303603m...
1       https://images.gr-assets.com/books/1474154022m...
2       https://images.gr-assets.com/books/1361039443m...
3       https://images.gr-assets.com/books/1361975680m...
4       https://images.gr-assets.com/books/1490528560m...
                              ...
9995    https://images.gr-assets.com/books/1307445460m...
9996    https://s.gr-assets.com/assets/nophoto/book/11...
9997    https://images.gr-assets.com/books/1455373531m...
9998    https://images.gr-assets.com/books/1279214118m...
9999    https://images.gr-assets.com/books/1403194704m...
Name: image_url, Length: 10000, dtype: object

In [59]:
books_data_df.pop('small_image_url')

0       https://images.gr-assets.com/books/1447303603s...
1       https://images.gr-assets.com/books/1474154022s...
2       https://images.gr-assets.com/books/1361039443s...
3       https://images.gr-assets.com/books/1361975680s...
4       https://images.gr-assets.com/books/1490528560s...
                              ...
9995    https://images.gr-assets.com/books/1307445460s...
9996    https://s.gr-assets.com/assets/nophoto/book/50...
9997    https://images.gr-assets.com/books/1455373531s...
9998    https://images.gr-assets.com/books/1279214118s...
9999    https://images.gr-assets.com/books/1403194704s...
Name: small_image_url, Length: 10000, dtype: object

In [60]:
books_data_df

,isbn,authors,original_publication_year,original_title,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,439023483,Suzanne Collins,2008.0,The Hunger Games,66715,127936,560092,1481305,2706317
1,439554934,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,75504,101676,455024,1156318,3011543
2,316015849,Stephenie Meyer,2005.0,Twilight,456191,436802,793319,875073,1355439
3,61120081,Harper Lee,1960.0,To Kill a Mockingbird,60427,117415,446835,1001952,1714267
4,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...
9995,441019455,Ilona Andrews,2010.0,Bayou Moon,105,575,3538,7860,6778
9996,067973371X,Robert A. Caro,1990.0,Means of Ascent,303,551,1737,3389,6972
9997,039330762X,Patrick O'Brian,1977.0,The Mauritius Command,11,111,1191,4240,5180
9998,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,275,1002,3765,4577,2375
9999,375700455,John Keegan,1998.0,The First World War,117,345,2031,4138,3069

In [ ]:
# Rename the headers to be more explanatory

In [71]:
books_data_df.rename(columns= {'isbn':'ISBN', 'orignal_publication_year':'Publication Year','orignal_title':'Original Title','authors':'Authors','ratings_1':'One Star Reviews' , 'ratings_2':'Two Star Reviews','ratings_3':'Three Star Reviews','ratings_4':'Four Star Reviews','ratings_5':'Five StarReviews'}, inplace =True)

In [72]:
books_data_df

,ISBN,Authors,original_publication_year,original_title,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five StarReviews
0,439023483,Suzanne Collins,2008.0,The Hunger Games,66715,127936,560092,1481305,2706317
1,439554934,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,75504,101676,455024,1156318,3011543
2,316015849,Stephenie Meyer,2005.0,Twilight,456191,436802,793319,875073,1355439
3,61120081,Harper Lee,1960.0,To Kill a Mockingbird,60427,117415,446835,1001952,1714267
4,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...
9995,441019455,Ilona Andrews,2010.0,Bayou Moon,105,575,3538,7860,6778
9996,067973371X,Robert A. Caro,1990.0,Means of Ascent,303,551,1737,3389,6972
9997,039330762X,Patrick O'Brian,1977.0,The Mauritius Command,11,111,1191,4240,5180
9998,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,275,1002,3765,4577,2375
9999,375700455,John Keegan,1998.0,The First World War,117,345,2031,4138,3069